.gradient-custom-2 {
/* fallback for old browsers */
background: #8c92ff;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to top right, #babeff, #949aff, #8c92ff, #5b63f4);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to top right, #babeff, #949aff, #8c92ff, #babeff);
}

@media (min-width: 768px) {
.gradient-form {
height: 90vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}





.task{
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;

  &:not(.complete){
    transition: .325s;
    cursor: pointer;

    &:active{
      transform: scale(0.95);
    }

    &:hover{
      background-color: #7b8ab8;
      color: white;
    }
  }

  &.complete{
    text-decoration: line-through;
    opacity: 60%;
  }
}
