<div class="container d-flex justify-content-center align-items-center p-5">
    <div class="card border-primary col-12 col-md-10">
      <div class="card-header">
        <h3>About Us</h3>
      </div>
      <div class="card-body">
        <div class="table-container" style="height:auto; width:100%; border-radius:.375rem">
          <p>Our Student Planner app is more than just a scheduling tool; it's a companion designed to enhance the academic and personal lives of students everywhere. Born from a desire to streamline the hectic life of a student, our app simplifies organization, prioritization, and time management. Crafted with input from students, educators, and time management experts, our app not only schedules tasks but also fosters a balanced approach to life and learning. Join us on a journey towards achieving academic excellence and personal growth.</p>
        </div>
      </div>
    </div>
  </div>
  