doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    body
      nav.navbar.navbar-expand-lg.bg-light(data-bs-theme='light')
        .container-fluid
          a.navbar-brand(href='/tasks') Student Planner
          button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor03', aria-controls='navbarColor03', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarColor03.collapse.navbar-collapse
            ul.navbar-nav.me-auto
            form(action='/')
              button.btn.btn-danger(type='submit')
                | Log Out
      block content
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
