extends layoutTasks
block content
  br
  .container.d-flex.justify-content-center.align-items-center
    .card.border-primary.col-12.col-md-10
      .card-header
        h3 Current Tasks
      .card-body
        p.task.complete
          | Web Frameworks static site
        p.task
          | Software Tools
        p.task
          | Update CV
        p.task.complete
          | Go to the gym
